{% extends "base.html" %}

{% block title %}گروه بیماران ای{% endblock %}

{% block style %}
<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-light center-content">
            <h1 class="text-center" style="font-size: 64px;">A</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-light center-content">
            <a href="./" class="btn btn-primary" style="width: 50%;">بازگشت</a>
        </div>
    </div>
</div>
{% endblock %}