<!DOCTYPE html>
<html>

<head>
  <title>داشبورد</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body dir="rtl">
  <h2 class="text-center">اطلاعات بیماران</h2>
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">نام</th>
          <th scope="col">نام خانوادگی</th>
          <th scope="col">سن</th>
          <th scope="col">جنسیت</th>
          <th scope="col">شماره پرونده</th>
          <th scope="col">گروه</th>
          <th scope="col">تاریخ</th>
          <th scope="col">ویرایش</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data%}
        <tr>
          <td>{{d.id}}</td>
          <td>{{d.name}}</td>
          <td>{{d.f_name}}</td>
          <td>{{d.age}}</td>
          <td>{{d.sex}}</td>
          <td>{{d.code}}</td>
          <td>{{d.group}}</td>
          <td>{{d.created_at}}</td>
          <td> <a href="{% url 'edit.patient' d.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">
              ویرایش</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-center">
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        حذف اطلاعات
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">اخطار</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            با تایید این فرم تمامی اطلاعات ورودی حذف میشود. آیا تایید میکنید؟
          </div>
          <div class="modal-footer">
            <button href=type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            <form method="post" action="{% url 'view.patient' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">حذف</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>