<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body dir="rtl">
  <h2 class="text-center">عنوان القسم</h2>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">عنوان</th>
          <th scope="col">عنوان</th>
          <th scope="col">عنوان</th>
          <th scope="col">عنوان</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>بيانات</td>
          <td>عشوائية</td>
          <td>تثري</td>
          <td>الجدول</td>
        </tr>

      </tbody>
    </table>
  </div>
</body>

</html>