{% extends "base.html" %}


{% block title %}صفحه ی اصلی{% endblock %}



{% block content %}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
    <!-- Title -->
    <h1 class="text-center mt-10" style="max-width: 70%;">بررسی تاثیر داروی داپاگلیفلوزین بر پیامدهای قلبی بیماران
        مبتلا به پرفشاری خون ریوی
    </h1>

    <!-- Image -->
    <img src="https://raw.githubusercontent.com/filecloud1234/cloud/main/IMG_5736.PNG" alt="Your Image" class="mt-10"
        style="max-width: 100%; max-height: 70%;">

    <!-- Start Button -->
    <a href="{% url 'profile' %}" class="btn btn-primary" style="width: 70%;">شروع</a>
</div>

{% endblock %}