<!DOCTYPE html>
<html>

<head>
    <title>Person Form</title>
</head>

<body>
    <h1>Person Form</h1>
    <form action="{% url 'create.patient' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="input" type="text" name="name" />
        <input class="input" type="text" name="f_name" />
        <input class="input" type="text" name="sex" />
        <input class="input" type="text" name="age" />
        <input class="input" type="text" name="code" />
        <input class="input" type="text" name="group" />

        <input type="submit" value="submit">

    </form>
</body>

</html>