<!DOCTYPE html>
<html>

<head>
    <title>Person Form</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<style>
    html,
    body {
        height: 100%;
    }

    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }
</style>
<!-- <body> -->
<!-- <h1>Person Form</h1>
    <form action="{% url 'create.patient' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="input" type="text" name="name" />
        <input class="input" type="text" name="f_name" />
        <input class="input" type="text" name="sex" />
        <input class="input" type="text" name="age" />
        <input class="input" type="text" name="code" />
        <input class="input" type="text" name="group" />

        <input type="submit" value="submit">

    </form> -->

<!-- </body> -->

<body class="d-flex align-items-center py-4 bg-body-tertiary" dir="rtl">





    <main class="form-signin w-100 m-auto">
        <form action="{% url 'create.patient' %}" method="post" enctype="multipart/form-data">
            <h1 class="h3 mb-3 fw-normal text-center">اطلاعات بیمار</h1>
            {% csrf_token %}

            <input class="form-control form-control-lg" type="text" placeholder="نام" name="name" minlength="3"
                maxlength="50" required>
            <input class="form-control form-control-lg" type="text" name="f_name" placeholder="نام خانوادگی"
                minlength="3" maxlength="50" required>
            <input class="form-control form-control-lg" type="number" name="age" placeholder="سن" min="1" max="120"
                required>

            <select class="form-select form-select-lg " name="sex">
                <option selected>جنسیت</option>
                <option value="M">مذکر</option>
                <option value="F">مؤنث</option>
            </select>

            <input class="form-control form-control-lg" type="number" name="code" placeholder="شماره پرونده" required>

            <button class="btn btn-primary w-100 py-2" type="submit">ثبت</button>
        </form>
    </main>
</body>

</html>